  <div class="bg-white w-full bg-opacity-75">
    <div class="container m-auto bg-white max-w-sm flex flex-col justify-center mt-12 rounded">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %> 
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="flex flex-col">
        <%= render "devise/shared/links" %>
      </div>
      <div class="">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3'%>
      </div>
      <div class="">
        <%= f.label :password %> <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: 'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3' %>
      </div>

      <div class="">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3' %>
      </div>

      <div class="field">
        <%= f.label :age, "Tell us your age"%><br />
        <%= f.text_field :age, class: 'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3' %>
      </div>

      <div class="">
        <%= f.label :display_name %><br />
        <%= f.text_field :display_name, class: 'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3'%>
      </div>

      <div class="field">
        <%= f.label :gender %><br />
        <%= f.select :gender, ['Indicate your gender', 'Male', 'Female', 'Custom', 'Prefer not to say'], class: 'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3'%>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "w-full px-2 py-2 text-white rounded bg-orange-600 my-3"%>
      </div>


      <a href="#" class="text-xs text-blue-400 my-3 ">Need Help?</a>
      <p class="text-xs text-gray-500 my-3">We may use your email and devices for updates and tips on SoundCloud's products and services, and for activities notifications. You can unsubscribe for free at any time in your notification settings.</p>
      <p class="text-xs text-gray-500 mb-20">We may use information you provide us in order to show you targeted ads as described in our 
      <a href="#" class="text-blue-500">Privacy Policy.</a>
      </p>
      
      <% end %> 

    </div>
  </div>
