<div class="comment-id-<%=comment.id%>">
  <div class="flex main-comment">
    <% if comment.user.avatar_url %>
      <%= image_tag comment.user.avatar_url, class: 'w-1/12 rounded-full' %>
    <% end %>
    <div class="w-9/12 mx-2">
      <div class="flex">
        <button><%=comment.user.display_name%></button>
        <p class ="mx-1"> at</p>
        <p><%= comment.timepoint.to_i >= 3600 ? Time.at(comment.timepoint.to_i).utc.strftime("%H:%M:%S") : Time.at(comment.timepoint.to_i).utc.strftime("%M:%S") %></p>
      </div>
      <p class=""> <%=comment.content%> </p>
    </div>
    <div class="col-span-2 text-gray-400">
      <p><%= time_diff(DateTime.now, comment.created_at) %></p>
      <button class="border border-gray-400 p-1 rounded replyBtn" data-id=<%=comment.id%>>Reply</button>
      <%if is_current_user?(comment.user)%>
        <button class="border border-gray-400 p-1 rounded"><%= link_to "Delete", comment_path(song_id: song.id, id: comment.id), remote: true, method: "delete", data: {confirm: "Do you really want to remove this comment?"}%></button>
      <%end%>
    </div>
  </div>

  <%#=顯示正中間針對留言的留言那%>
  <div id= comment-id-<%=comment.id%>>
    <% comment.replies.each do |reply| %>
      <%= render 'comments/reply', comment: comment, reply: reply, song: song %>
    <% end %>
  </div>

  <div class="flex mt-4 ml-6 hidden replyForm">
    <%= form_with(model: song.comments.new, url:song_comments_path(song_id: song, reply_id: comment.id), class: "w-11/12 mx-4") do |f|%>
      <%= f.text_field :content, placeholder: "Reply to this comment", class: "w-10/12 py-2 px-4 border border-gray-400 rounded", data:{id:comment.id}%>
      <%= f.submit "Reply", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded"%>
    <% end %>
  </div>
</div>


  
