<div class="flex main-comment">
  <img class="w-1/12 rounded-full" src="https://i1.sndcdn.com/avatars-Y57TiYzkrpCtP0pD-w8fdEA-t120x120.jpg" alt="">
  <div class="w-9/12 mx-2">
    <div class="flex">
      <button> <%=comment.user.display_name%></button>
      <p class ="mx-1"> at</p>
      <p> 0:00</p>
    </div>
    <p class=""> <%=comment.content%> </p>
  </div>
  <div class="w-2/12 text-gray-400">
    <p> <%=comment.created_at%> </p>
    <button class="border border-gray-400 p-1 rounded"> <i class="fas fa-reply"></i> Reply </button>
    <button class="border border-gray-400 p-1 rounded"> <%= link_to "Delete", comment_path(song_id: @song.id, id: comment.id),method: "delete", data: {confirm: "Do you really want to remove this comment?"} if is_current_user?(comment.user)%> </button>
  </div>
</div>

<% comment.replies.each do |reply| %>
  <div class="flex mt-4 ml-6">
    <img class="w-1/12 rounded-full" src="https://i1.sndcdn.com/avatars-Y57TiYzkrpCtP0pD-w8fdEA-t120x120.jpg" alt="">
    <div class="w-9/12 mx-2">
      <div class="flex">
        <button> <%=reply.user.display_name%></button>
        <p class ="mx-1"> at</p>
        <p> 0:00</p>
      </div>
      <p class=""> <%=reply.content%> </p>
    </div>
    <div class="w-2/12 text-gray-400">
      <p> <%=reply.created_at%> </p>
      <button> <%= link_to "Delete", comment_path(song_id: song.id, id: reply.id),method: "delete", data: {confirm: "Do you really want to remove this comment?"} if is_current_user?(reply.user)%> </button>
    </div>
  </div>
<% end %>
  <div class="flex mt-4 ml-6">
  <%= form_with(model: song.comments.new, url:song_comments_path(song_id: song, reply_id: comment.id), class: "w-11/12 mx-4") do |f|%>
    <%= f.text_field :content, placeholder: "Reply to this comment", class: "w-10/12 py-2 px-4 border border-gray-400 rounded"%>
    <%= f.submit "Reply", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 rounded"%>
  <% end %>
  </div>