<div class="flex mt-4 ml-6">
  <% if reply.user.avatar_url %>
    <%= image_tag reply.user.avatar_url, class: 'w-1/12 rounded-full' %>
  <% end %>
  <div class="w-9/12 mx-2">
    <div class="flex">
      <button> <%=reply.user.display_name%></button>
      <p class ="mx-1"> at</p>
      <p> 0:00</p>
    </div>
    <p class=""> <%=reply.content%> </p>
  </div>
  <div class="w-2/12 text-gray-400">
    <p> <%=reply.created_at%> </p>
    <button class="border border-gray-400 p-1 rounded"> <%= link_to "Delete", comment_path(song_id: @song.id, id: reply.id),method: "delete", data: {confirm: "Do you really want to remove this comment?"} if is_current_user?(reply.user)%> </button>
  </div>
</div>