<%= form_with(model: @play_list, url: create_play_list_path)  do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :intro %>
    <%= f.text_field :intro %>
  </div>
  <%= f.submit %>
<% end %>