<%#=這是User資訊頁面%>

<%#=圖區一%>
<div class="flex mx-4 bg-gradient-to-r from-red-500 via-white to-orange-700">
  <img class="w-1/6 m-4 rounded-full" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
  <div class="flex justify-between w-5/6 items-start">
    <div class="m-4">
      <div class="bg-black rounded p-1 text-xl text-white m-1">
        <%= @user.display_name %>
      </div>
      <div class="flex bg-gray-900 rounded justify-start">
        <div class="text-white m-2"><%= @user.first_name %></div>
        <div class="text-xl text-orange-700 m-auto mr-2"><%= @user.last_name %></div>
      </div>
    </div>
    <button class="text-white bg-orange-600 p-2 rounded">
      <i class="fas fa-camera"></i>
      Upload header image
    </button>
  </div>
</div>

<%#=左邊使用者專區%>
<div class="flex m-4 justify-between border-b border-gray-400">
  <div class="mx-4 text-xl m-2">
    <button class="hover:text-orange-600 mr-4">All</button>
    <button class="hover:text-orange-600 mr-4">Popular Tracks</button>
    <button class="hover:text-orange-600 mr-4">Tracks</button>
    <button class="hover:text-orange-600 mr-4">Albums</button>
    <button class="hover:text-orange-600 mr-4">Playlists</button>
    <button class="hover:text-orange-600 mr-4">Reposts</button>
  </div>
  <div class="flex m-2">
    <button class="mr-4 text-white bg-orange-600 px-2 rounded"><i class="fas fa-balance-scale"></i>Your Insights</button >
    <button class="mr-4"><i class="fas fa-share-square"></i>Share</button >
    <button class="mr-4"><i class="fas fa-pencil-alt"></i><%= link_to 'Edit', edit_user_path(current_user.id) %>
</button>
  </div>
</div>



<div class="flex mx-4 ">
  <div class="w-3/4 mx-4">
    <div class="text-2xl">Recent</div>
<%#=左邊專輯專區%>
    <div class="flex my-4">
      <img class="w-1/5 rounded-full" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">    
      <div class="my-auto w-4/5">
        <div class="flex justify-between">
          <div class="w-1/12">
            <i class="fas fa-arrow-circle-right fa-3x"></i>
          </div>
          <div class="w-9/12">
            <p class="text-gray-400 text-xs"><%= @user.display_name %></p>
            <p>Link_to SongName</p>
          </div>
          <div class="w-2/12 text-gray-400 text-xs">
            5 days ago
            ###Tag###
          </div>
        </div>

<%#=超難的音波專區%>
        <div class="">萱大の音波專區</div>
<%#=留言專區%>
        <div class="flex m-4">
          <img class="w-8" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
          <input class="w-full mx-2" type="text" placeholder="Write a comment">
        </div>


<%#=歌曲功能專區%>
        <div class="">
          <div class="flex w-2/3 my-4 p-2 justify-around">
            <button class="border border-gray-300 px-3 rounded">
              <i class="fas fa-heart"></i>
              like
            </button>
            <button class="border border-gray-300 px-3 rounded">
              <i class="fas fa-share-square"></i>
              share
            </button>
            <button class="border border-gray-300 px-3 rounded">
              <i class="fas fa-balance-scale-left"></i>
              Add to Next Up
            </button>
            <button class="border border-gray-300 px-3 rounded">
              <i class="fas fa-bolt"></i>
              More
            </button>
          </div>
        </div>
      </div>
    </div>



  </div> 



  <%#=右邊使用者專區%>
  <div class="w-1/4 border-l border-gray-400 px-2">

      <div class="flex text-gray-500 mx-4">
        <button class="mx-2">Follower</button>
        <button class="mx-2">Following</button>
        <button class="mx-2">Tracks</button>
      </div>

      <div class="p-2">
        <div class="flex justify-between text-gray-500 border-b border-gray-300 text-sm p-2">
          <div class="">❤️2 likes</div>
          <div class="">view all</div>
        </div>

        <div class="my-4 flex">
          <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
          <div class="w-4/5 mx-2 text-xs">
              <div class="text-gray-500">Cherokee Recordings</div>
              <div class="">Dean Robert - Morning</div>
              <div class="flex justify-around">
                <a href="">➡️261K</a>
                <a href="">❤️3315</a>
                <a href="">⭕️60</a>
                <a href="">☁️101</a>
              </div>
          </div>
        </div>

        <div class="my-4 flex">
          <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
          <div class="w-4/5 mx-2 text-xs">
              <div class="text-gray-500">Cherokee Recordings</div>
              <div class="">Dean Robert - Morning</div>
              <div class="flex justify-around">
                <a href="">➡️261K</a>
                <a href="">❤️3315</a>
                <a href="">⭕️60</a>
                <a href="">☁️101</a>
              </div>
          </div>
        </div>

        <div class="my-4 flex">
          <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
          <div class="w-4/5 mx-2 text-xs">
              <div class="text-gray-500">Cherokee Recordings</div>
              <div class="">Dean Robert - Morning</div>
              <div class="flex justify-around">
                <a href="">➡️261K</a>
                <a href="">❤️3315</a>
                <a href="">⭕️60</a>
                <a href="">☁️101</a>
              </div>
          </div>
        </div>
      </div>

    <div class="flex border-t border-gray-400 m-4">
      <div class="my-3 text-xs table-row-group">
        <div class="">
          <span class="text-gray-500  hover:text-black"><a href="#">Legal</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Privacy</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Cookies</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Imprint</a></span>

          <span class="text-gray-500  hover:text-black"><a href="#">Creator Resources</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Blog</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Charts</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Popular Search</a></span>
        </div>
        
          <div class="mt-2 mb-20">
            Language: English (US)
          </div>

      </div>
    </div>
  </div>  
</div>



<h1>這是<%= @user.email %>的頁面</h1>
<%= link_to follow_user_path, method: 'post' do %>
  <button>Follow</button>
<% end %>
<h1>profile</h1>
<%= link_to 'edit', edit_user_path(current_user) if current_user%>
<%= link_to 'go back', root_path %>
<ul>
  <% if @user.header_url && @user.avatar_url %>
    <li>header:<%= image_tag @user.header_url, width: '100px' %></li>
    <li>avatar:<%= image_tag @user.avatar_url, width: '100px' %></li>
  <% end%>
  <li>email:<%= @user.email %></li>
  <li>nick_name:<%= @user.display_name %></li>
  <li>gender:<%= @user.gender %></li>
  <li>age:<%= @user.age %></li>
  <li>first_name:<%= @user.first_name %></li>
  <li>last_name:<%= @user.last_name %></li>
  <li>city:<%= @user.city %></li>
  <li>country:<%= @user.country %></li>
</ul>