<%#=這是User資訊頁面%>

<%#=圖區一%>
<div class="flex mx-6 bg-gradient-to-b from-gray-700 via-white to-gray-500">

  <div class="w-32 h-32 overflow-hidden m-4">
    <% if @user.avatar_url %>
      <%= image_tag @user.avatar_url, class:'rounded-full' %>
      <% else %>
      <div class="h-32 w-32 bg-cover" style="background-image: url(<% root_path %>/img/user_image_1.png)"></div>
    <% end %>
  </div>

  <div class="flex justify-between w-5/6 items-start">
    <div class="m-4">
      <div class="bg-black rounded p-1 text-xl text-white m-1">
        <%= @user.display_name %>
      </div>
      <div class="flex bg-gray-900 rounded justify-start">
        <div class="text-white m-2"><%= @user.first_name %></div>
        <div class="text-xl text-orange-700 m-auto mr-2"><%= @user.last_name %></div>
      </div>
      <% if current_user == @user %>
        <% if current_user.room %>
          <div>
            <%= link_to 'start channel', play_room_path(current_user.room.id) %>
          </div>
        <% else %>
          <div>
            <%= link_to 'create podcast channel', rooms_path %>
          </div>
        <% end %>
      <% else %>
        <div>
          <%= link_to 'podcast channel', room_path(@user.room.id) if @user.room%>
        </div>
      <% end %>
    </div>
    <% if current_user == @user %>
      <%= link_to edit_user_path(@user), class: 'text-white bg-orange-600 p-2 rounded' do %>
        <i class="fas fa-camera"></i>Upload header image
      <% end %>
    <% end %>
  </div>
</div>

<%#=左邊使用者專區%>
<div class="flex items-center m-4 justify-between border-b border-gray-400">
  <div class="ml-4 text-xl hidden md:flex justify-between">
    <button class="mx-2 text-orange-600 all_btn">All</button>
    <button class="mx-2 track_btn">Tracks</button>
    <button class="mx-2 playlist_btn">Playlist</button>
    <button class="mx-2 reposts_btn">Reposts</button>
  </div>

  <div class="flex justify-between items-center mr-4 text-sm">
    <button class="flex items-center mx-2 p-1 rounded bg-orange-600 text-white">
      <i class="fas fa-chart-bar"></i>
      <p class="hidden md:block">Your Insights</p>
    </button>
    <button class="flex items-center mx-2 p-1 rounded border border-gray-300">
      <i class="fas fa-share-square"></i>
      <p class="modal-btn share-btn hidden md:block">Share</p>
    </button>
    <% if current_user == @user %>
      <%= link_to edit_user_path(current_user), class:'flex items-center mx-2 p-1 rounded border border-gray-300' do %>
        <i class="fas fa-pencil-alt"></i>
        <p class="hidden md:block"> Edit</p>
      <% end %>
    <% end %>
  </div>
</div>



<div class="grid grid-cols-12 mx-4 ">
  <div class="col-span-12 md:col-span-9 mx-4">
    <span class="all_template">
      <%= render './shared/song_module', songs: @all_songs %>
      <%= render './shared/playlist_module', playlists: @all_playlists %>
    </span>
    <span class="track_template hidden">
      <%= render './shared/song_module', songs: @user.songs %>
    </span>
    <span class="playlist_template hidden">
      <%= render './shared/playlist_module', playlists: @user.playlists %>
    </span>
    <span class="repost_template hidden">
      <%= render './shared/song_module', songs: @user.repost_songs %>
      <%= render './shared/playlist_module', playlists: @user.repost_playlists %>
    </span>
  </div>
  <%#=左邊專輯專區%>



      <%#=右邊使用者專區%>
  <div class="hidden md:block col-span-3 border-l border-gray-400 px-2">
    <div class="flex text-gray-500 mx-4 ">
      <div>
        <div class="mx-2">
          Follower
        </div>
        <p class="text-center"><%= @user.followers.count%></p>
      </div>
      <div>
        <div class="mx-2">
          Following
        </div>
        <p class="text-center"><%= @user.followees.count%></p>
      </div>
      <div>
        <div class="mx-2">
          Tracks
        </div>
        <p class="text-center"><%= @user.songs.size%></p>
      </div>
    </div>

    <div class="p-2">
      <% if current_user == @user %>
        <div class="flex text-gray-500 border-b border-gray-300 text-sm p-2">
          <%= link_to 'view all', likes_library_index_path, class:'ml-auto' %>
        </div>
      <% end %>
        <%#=右邊 user-like area %>
      <%= render './shared/like_area.html.erb', element: @user %>

      </div>
          <div class="flex border-t border-gray-400 m-4">
      <div class="my-3 text-xs table-row-group">
        <div class="text-gray-500">
          <span class="hover:text-black"><a href="#">Legal</a></span>

          <span class="hover:text-black"><a href="#">Privacy</a></span>

          <span class="hover:text-black"><a href="#">Cookies</a></span>

          <span class="hover:text-black"><a href="#">Imprint</a></span>

          <span class="hover:text-black"><a href="#">Creator Resources</a></span>

          <span class="hover:text-black"><a href="#">Blog</a></span>

          <span class="hover:text-black"><a href="#">Charts</a></span>

          <span class="hover:text-black"><a href="#">Popular Search</a></span>
        </div>
          <div class="mt-2 mb-20">
            Language: English (US)
          </div>
      </div>
    </div>
    </div>

  </div>


<template class="share-template">
  <div class="modal-container share-container">
  </div>
  <div class="modal-content">
    <div class="modal-item">
      <h1>Share</h1>
    </div>
    <div class="modal-item">
      <%= content_tag(:button, 'Twitter', class:'share-twitter', data:{name: current_user.display_name, link: user_path(current_user.id)}) %>
      <%= content_tag(:button, 'Facebook', class:'share-facebook', data:{name: current_user.display_name, link: user_path(current_user.id)}) %>
    </div>
  </div>
</template>
