 <% if songs %>
  <% songs.each do |song| %>
    <div class="flex mb-6">
      <div class="sm:w-1/6 w-1/4">
        <%#= 搜尋結果的Song圖片 %>
          <%= link_to image_tag(song.image_url), song_path(song.id) if song.image_url %>

      </div>
      <div class="sm:w-5/6 w-3/4 mx-4">
        <div class="flex items-center text-sm text-gray-500">
            <%= content_tag(:li, '▶', class:'getURL text-orange-500 mr-2 play-btn', data: {id: song.id} ) %>
          <div>
          <%#= 歌曲名稱 %>
            <p><%= link_to song.name, song_path(song.id) %></p>
          </div>
          <div class="ml-auto flex">
          <%#= 歌曲TAG名稱 %>              
            <% song.tags.each do |tag|%>
              <div class="p-1 m-1 rounded text-white bg-gray-400 text-center"><%= tag.name %></div>
            <% end %> 
          </div>
        </div>
        <%#=超難的音波專區%>
        <div class="">
          <%= content_tag(:div, '', class:['w-full waveform-wrap waveform-small'], data:{ path: song.track_url, filename: song.get_filename, id: song.id}) do %> 
            <div class="waveform-dummy-trigger"></div>
            <%= content_tag(:div, '', class:['waveform-dummy song-waveform']) %>
          <% end %>
        </div>
        <%#=留言專區%>
        <%# <div class="flex my-2">
          <img class="w-8" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
          <input class="w-full mx-2" type="text" placeholder="Write a comment">
        </div> %>
        <%#=歌曲功能專區、按讚、重播%>
        <div class="flex text-sm">
          <div class="flex w-2/3 my-2 justify-start">
            <button class="flex border border-gray-300 px-3 mx-1 rounded like_btn" result-like-id='<%= song.id %>' >
              <% if song.favorited_by?(current_user) %>
                <span class="my-auto mr-1"><i class="fas fa-heart" style="color: orange"></i></span>
              <% else %>
                <span class="my-auto mr-1"><i class="fas fa-heart" style="color: black"></i></span>
              <% end %>
              <p class="hidden md:block like_count"><%= song.liked_users.count %></p> 
            </button>
            <button class="flex border border-gray-300 px-3 mx-1 rounded repost_btn" result-repost-id='<%= song.id %>'>
              <% if song.reposted_by?(current_user)%>
                <span class="my-auto mr-1"><i class="fas fa-redo-alt" style="color: orange"></i></span>
              <% else %>
                <span class="my-auto mr-1"><i class="fas fa-redo-alt" style="color: black"></i></span>
              <% end %>
              <p class="hidden md:block"><%= song.reposts.size %></p>
            </button>
            <button class="modal-btn share-btn flex border border-gray-300 px-3 mx-1 rounded">
              <span class="my-auto mr-1"><i class="fas fa-share"></i></span>
              <p class="hidden md:block">Share</p> 
            </button>
            <% if current_user == song.user %>
              <%= link_to song_path(song.id), method:'delete', class: "flex border border-gray-300 px-3 mx-1 rounded" do %>
                <span class="my-auto mr-1"><i class="fas fa-trash"></i></span>
                <p class="hidden md:block">Delete</p>
              <% end %>
            <% end %>
          </div>
          <div class="flex w-1/3 justify-end">
            <div class="flex mx-2 my-auto">
              <span class="my-auto mr-1"><i class="fas fa-play"></i></span>
              <p class="hidden md:block played_times_comments<%= song.id %> "><%= song.played_times %></p>
            </div>
            <%= link_to song_path(song.id), class:'flex mx-2 my-auto' do %>
              <span class="my-auto mr-1"><i class="fas fa-comments"></i></span>
              <p class="hidden md:block song_comments"><%= song.comments.size%></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <template class="share-template">
      <div class="modal-container share-container">
      </div>
      <div class="modal-content">
        <div class="modal-item">
          <h1>Share</h1>
        </div>
        <div class="modal-item">
          <%= content_tag(:button, 'Twitter', class:'share-twitter', data:{name: song.name, artist: song.user.display_name, link: song_path(song.id)}) %>
          <%= content_tag(:button, 'Facebook', class:'share-facebook', data:{name: song.name, artist: song.user.display_name, link: song_path(song.id)}) %>
        </div>
      </div>
    </template>
  <% end %>
<% end %>
