 <% if songs %>
  <% songs.each do |song| %>
    <div class="flex mb-6">
      <div class="sm:w-1/6 w-1/4">
        <%#= 搜尋結果的Song圖片 %>
          <%= link_to image_tag(song.image_url), song_path(song.id) if song.image_url %>

      </div>
      <div class="sm:w-5/6 w-3/4 mx-4">
        <div class="flex items-center text-sm text-gray-500">

        <%= content_tag(:li, '▶', class:'getURL text-orange-500 mr-2 play-btn', data: {id: song.id} ) %>

          <div class="flex-col w-9/12">
          <%#= 歌曲名稱 %>
            <p><%= song.name %></p>
            <p class=""><%= link_to song.name, song_path(song.id) %></p>
          </div>
          <div class="w-2/12 flex">
          <%#= 歌曲TAG名稱 %>              
            <% song.tags.each do |tag|%>
              <div class="text-white bg-gray-400 rounded-full text-center"><%= tag.name %></div>
            <% end %> 
          </div>
        </div>
        <%#=超難的音波專區%>
        <div class="">
          <%= content_tag(:div, '', class:['w-full waveform-wrap waveform-small'], data:{ path: song.track_url, filename: song.get_filename, id: song.id}) do %> 
            <div class="waveform-dummy-trigger"></div>
            <%= content_tag(:div, '', class:['waveform-dummy song-waveform']) %>
          <% end %>
        </div>
        <%#=留言專區%>
        <%# <div class="flex my-2">
          <img class="w-8" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
          <input class="w-full mx-2" type="text" placeholder="Write a comment">
        </div> %>
        <%#=歌曲功能專區、按讚、重播%>
        <div class="flex text-sm">
          <div class="flex w-2/3 my-2 justify-start">
            <button class="flex border border-gray-300 px-3 mx-1 rounded like_btn" result-like-id='<%= song.id %>' >
              <% if song.favorited_by?(current_user) %>
                <i class="fas fa-heart" style="color: orange"></i>
              <% else %>
                <i class="far fa-heart"></i>
              <% end %>
              <p class="hidden md:block like_count"><%= song.liked_users.count %></p> 
            </button>
            <button class="flex border border-gray-300 px-3 mx-1 rounded repost_btn" result-repost-id='<%= song.id %>'>
              <% if song.reposted_by?(current_user)%>
                <i class="fas fa-redo-alt" style="color: orange"></i>
              <% else %>
                <i class="fas fa-redo-alt"></i>
              <% end %>
              <p class="hidden md:block"><%= song.reposts.size %></p>
            </button>
            <button class="modal-btn share-btn flex border border-gray-300 px-3 mx-1 rounded">
              <i class="fas fa-share"></i>
              <p class="hidden md:block">Share</p> 
            </button>
            <%# <button class="flex border border-gray-300 px-3 mx-1 rounded">
              <i class="fas fa-ellipsis-h"></i>
              <p class="hidden md:block">More</p>
            </button> %>
          </div>
          <div class="flex w-1/3 justify-end">
            <button class="flex mx-2">
              <i class="fas fa-play"></i>
              <p class="hidden md:block"><%= song.played_times %></p>
            </button>
            <%= link_to song_path(song.id), class:'flex mx-2' do %>
              <i class="fas fa-comments"></i>
              <p class="hidden md:block song_comments"><%= song.comments.size%></p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <template class="share-template">
      <div class="modal-container share-container">
      </div>
      <div class="modal-content">
        <div class="modal-item">
          <h1>Share</h1>
        </div>
        <div class="modal-item">
          <%= content_tag(:button, 'Twitter', class:'share-twitter', data:{name: song.name, artist: song.user.display_name, link: song_path(song.id)}) %>
          <%= content_tag(:button, 'Facebook', class:'share-facebook', data:{name: song.name, artist: song.user.display_name, link: song_path(song.id)}) %>
        </div>
      </div>
    </template>
  <% end %>
<% end %>
