 <% if songs %>
  <% songs.each do |song| %>
    <div class="grid grid-cols-12 mb-6">

      <div class="col-span-12 md:col-span-3 flex justify-start md:flex-col md:items-center my-2">
        <%#= 搜尋結果的Song圖片 %>
        <% if song.image_url %>
          <%= link_to song_path(song.id) do %>
            <div class="w-20 h-20 bg-cover bg-center sm:h-32 sm:w-32 ml-2 md:ml-0" style="background-image: url(<%= song.image_url %>)"></div>
          <% end %>
        <% end %>
        <div class="md:w-full flex-wrap flex items-center text-sm text-gray-500 mx-4 md:mx-0 md:justify-center">
          <%= content_tag(:li, '▶', class:'getURL text-orange-500 mr-2 play-btn', data: {id: song.id} ) %>

          <div class="flex-col w-9/12">
          <%#= 歌曲名稱 %>
            <p><%= link_to song.user.display_name, user_path(song.user) %></p>
            <p class=""><%= link_to song.name, song_path(song.id) %></p>
          </div>
          <div class="my-1 sm:my-0 w-full flex md:justify-end">
          <%#= 歌曲TAG名稱 %>              
            <% song.tags.each do |tag|%>
              <div class="text-white bg-gray-400 rounded-lg text-center px-1 mr-1">#<%= tag.name %></div>
            <% end %> 
          </div>
        </div>
      </div>

      <div class="col-span-12 md:col-span-9 mx-2 md:mx-4">



        <%#=超難的音波專區%>
        <div class="">
          <%= content_tag(:div, '', class:['w-full waveform-wrap waveform-small'], data:{ path: song.track_url, filename: song.get_filename, id: song.id}) do %> 
            <div class="waveform-dummy-trigger"></div>
            <%= content_tag(:div, '', class:['waveform-dummy song-waveform']) %>
          <% end %>
        </div>

        <%#=留言專區%>
        <%# <div class="flex my-2">
          <img class="w-8" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
          <input class="w-full mx-2" type="text" placeholder="Write a comment">
        </div> %>
        <%#=歌曲功能專區、按讚、重播%>
        <div class="flex text-sm">
          <div class="flex w-2/3 my-2 justify-start">
            <button class="flex border border-gray-300 px-3 mx-1 rounded like_btn" result-like-id='<%= song.id %>' >
              <% if song.favorited_by?(current_user) %>
                <span class="my-auto mr-1"><i class="fas fa-heart" style="color: orange"></i></span>
              <% else %>
                <span class="my-auto mr-1"><i class="fas fa-heart" style="color: white"></i></span>
              <% end %>
              <p class="hidden md:block like_count"><%= song.liked_users.count %></p> 
            </button>
            <button class="flex border border-gray-300 px-3 mx-1 rounded repost_btn" result-repost-id='<%= song.id %>'>
              <% if song.reposted_by?(current_user)%>
                <span class="my-auto mr-1"><i class="fas fa-redo-alt" style="color: orange"></i></span>
              <% else %>
                <span class="my-auto mr-1"><i class="fas fa-redo-alt" style="color: white"></i></span>
              <% end %>
              <p class="hidden md:block"><%= song.reposts.size %></p>
            </button>
            <button class="modal-btn share-btn flex border border-gray-300 px-3 mx-1 rounded">
              <span class="my-auto mr-1"><i class="fas fa-share"></i></span>
              <p class="hidden md:block">Share</p> 
            </button>
            <% if current_user == song.user %>
              <%= link_to song_path(song.id), method:'delete', class: "flex border border-gray-300 px-3 mx-1 rounded" do %>
                <span class="my-auto mr-1"><i class="fas fa-trash"></i></span>
                <p class="hidden md:block">Delete</p>
              <% end %>
            <% end %>
          </div>
          <div class="flex w-1/3 justify-end">
            <div class="flex mx-2 my-auto">
              <span class="my-auto mr-1"><i class="fas fa-play"></i></span>
              <p class="hidden md:block played_times_comments<%= song.id %> "><%= song.played_times %></p>
            </div>
            <%= link_to song_path(song.id), class:'flex mx-2 my-auto' do %>
              <span class="my-auto mr-1"><i class="fas fa-comments"></i></span>
              <p class="hidden md:block song_comments"><%= song.comments.size%></p>
            <% end %>
          </div>
        </div>

      </div>
      
    </div>

    <template class="share-template">
      <div class="modal-container share-container">
      </div>
      <div class="modal-content">
        <div class="modal-item">
          <h1>Share</h1>
        </div>
        <div class="modal-item">
          <%= content_tag(:button, 'Twitter', class:'share-twitter', data:{name: song.name, artist: song.user.display_name, link: song_path(song.id)}) %>
          <%= content_tag(:button, 'Facebook', class:'share-facebook', data:{name: song.name, artist: song.user.display_name, link: song_path(song.id)}) %>
        </div>
      </div>
    </template>
  <% end %>
<% end %>
