<ul>
  <li>avatar:<%= image_tag user.avatar_url, width: '150px' %></li>
  <li>email:<%= user.email %></li>
  <li>nick_name:<%= user.display_name %></li>
  <li>gender:<%= user.gender %></li>
  <li>age:<%= user.age %></li>
  <li>first_name:<%= user.first_name %></li>
  <li>last_name:<%= user.last_name %></li>
  <li>city:<%= user.city %></li>
  <li>country:<%= user.country %></li>
</ul>
