<%#這是首頁旁邊的留白%>
<div class="mx-6 bg-white">

<%#這是首頁最上的大圖%>
  <div class="bg-gray-700 text-white w-full bg-cover bg-center bg-no-repeat" style="background-image: url(<% root_path %>/img/back_1.jpg)">
    <div class="">
      <nav class="container mx-auto py-3 flex items-center justify-between ">

        <button class="hover:text-white w-48">
          <%= link_to discover_path do %>
          <%= image_pack_tag('logo_14.png', class:'w-48 hidden sm:block') %>
          <%= image_pack_tag('logo_10.png', class:'w-12 block sm:hidden') %>
          <% end %>
        </button>

        <div>
          <button class="px-2 py-2 bg-sladock rounded">
            <%= link_to "Sign in",new_user_session_path, class:'hidden sm:block'%>
            <%= link_to new_user_session_path, class:'block sm:hidden' do %>
              <i class="fas fa-sign-in-alt"></i>
            <% end %>
          </button>

          <button class="bg-orange-600 rounded">
            <%= link_to "Create account",new_user_registration_path, class:'hidden sm:block px-4 py-2'%>
            <%= link_to new_user_registration_path, class:'block sm:hidden px-4 py-1' do%>
              <i class="fas fa-user-plus"></i>
            <% end %>
          </button>

          <button class="px-2 py-2 bg-sladock rounded">
            <a href="#">for Creator</a>
          </button>
        </div>
      </nav>
    </div>
    <div class="text-4xl text-center m-10">Connect to SoundsGood</div>
    <div class="text-2xl text-center mx-auto max-w-xl">Discover, stream, and share a constantly expanding mix of music from emerging and major artists around the world.</div>
    <div class="text-center content-center my-5 pb-5">
      <button class="px-4 py-2 bg-orange-600 rounded mb-12">
        <%= link_to "Sign up for Free",new_user_registration_path%>
      </button>
    </div>
  </div>

  <%#這是搜尋or上傳自己的那邊%>
  <div class="container mx-auto flex max-w-3xl items-center my-10">
    <form action="" class="relative justify-center flex-grow">
      <input type="search" class="w-full px-2 py-2 focus:outline-none bg-gray-200 rounded" placeholder="Search for artists, bands, tracks, podcasts">
    </form>
    <span class="px-4">or</span>
    <button class="flex items-center px-4 py-2 bg-orange-600 text-white rounded">
      <i class="fas fa-cloud-upload-alt"></i>
      <a class="hidden sm:block" href="#">Upload your own</a>
    </button>
  </div>

  <div class="text-black text-center text-2xl m-10">
    Hear what’s trending for free in the SoundsGood community
  </div>

  <%#音樂區塊%>
      <div class="flex overflow-scroll text-gray-500 text-xs">
        <% @songs.each do |song|%>
          <% if song.image_url %>
            <div class="my-2 mr-2">
              <%#= 歌曲圖片 %>
              <%= image_tag song.image_url, class:'h-32 w-32 overflow-hidden bg-black mr-4' %>
                <%= content_tag(:li,content_tag(:a, song.name, href: song_path(song)), data: {value: song.name} ) %>
                <%= content_tag(:li,song.intro, data: {value: song.intro} ) %>
            </div>
          <% end %>
        <% end %>
      </div>

  <%#橘色按鈕%>
  <div class="flex justify-center">
    <button class="px-4 py-2 bg-orange-600 text-white rounded">
      <a href="#">explore trending playlists</a>
    </button>
  </div>

  <%#尋找創作者%>
  <div class="bg-gray-700 text-white w-full bg-cover bg-center bg-no-repeat" style="background-image: url(<% root_path %>/img/back_2.jpg)">
    <div class="m-10 p-10 text-white">
      <div class="text-4xl">Calling all creators</div>
      <div class="text-2xl w-full lg:w-1/2">Get on SoundsGood to connect with fans, share your sounds, and grow your audience. What are you waiting for?</div>
      <button class="px-6 py-2 my-6 bg-sladock rounded border border-gray-200">
        <a href="#">Find out more</a>
      </button>
    </div>
  </div>
  <%#再次逼你登入%>
  <div class="flex flex-col items-center">
    <div class="text-4xl text-center">Thanks for listening. Now join in.</div>
    <div class="text-2xl text-center max-w-xl">Save tracks, follow artists and build playlists. All for free.</div>
    <button class="px-4 py-2 bg-orange-600 text-white rounded m-4"><a href="#">explore trending playlists</a></button>

    <div class="">
      Already have an account?
      <button class="px-6 py-2 my-6 bg-sladock rounded border border-gray-200">
        <%= link_to "Sign in",new_user_session_path, class:'hidden sm:block'%>
        <%= link_to new_user_session_path, class:'block sm:hidden' do %>
          <i class="fas fa-sign-in-alt"></i>
        <% end %>
      </button>
    </div>
  </div>

  <div class="my-2 w-full h-1 bg-gray-500">
  </div>
  <%#底部更多選單%>
  <div class="text-gray-500 text-sm">
    <span class="hover:text-black mx-1"><a href="#">Popular searches</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">Directory</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">About us</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">Creator Resources</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">Blog</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">Jobs</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">Developers</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">Help</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">Legal</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">Privacy</a></span>
      -
    <span class="hover:text-black mx-1"><a href="#">Cookies</a></span>

  </div>

<%#底部語言選擇%>
  <div class="mb-20">
    Language: English (US)
  </div>
</div>

<% if current_user %>
  <%= link_to 'song page', user_songs_path(current_user.id) %>
  <%= link_to 'profile', user_path(current_user.id) %>
  <%= link_to 'play list', user_playlists_path(current_user.id) %>
<% end %>
