<%= link_to 'new song',  new_user_song_path(current_user.id) %>
<%= link_to 'go back', root_path %>
<% @songs.each do |song|%>
  <% if song.image_url %>
      <ul>
        <li><%= image_tag song.image_url, width: '200px' %></li>
        <%= content_tag(:li,song.name, data: {value: song.name} ) %>
        <%= content_tag(:li,song.intro, data: {value: song.intro} ) %>
        <li><%= link_to '點擊', song.track_url , class: 'getURL', data: {title: song.name, author: song.intro, url: song.track_url} %></li>
        <li><%= link_to '刪除', song_path(song.id), method: 'delete' %></li>
        <% if playlists_song?(song) %>
          <% song.playlists.each do |list| %>
            <li>歌單：<%= list.name %></li>
          <% end %>
        <% else %>
          <li>未加入清單</li>
        <% end %>
        <%= link_to '加入清單', list_add_path(song.id) %>



  <% end %>
<% end %>


  	<div id="player1" class="aplayer"></div>
  	<div id="player1" class="aplayer"></div>

    <scirpt>

    </scirpt>
