<%= link_to 'new song', new_user_song_path(current_user.id) %>
<%= link_to 'go back', root_path %>
<% @songs.each do |song|%>
  <% if song.image_url %>
      <ul>
        <%= image_tag song.image_url, width: '100px' %>
        <%= content_tag(:li,content_tag(:a, song.name, href: song_path(song)), data: {value: song.name} ) %>
        <%= content_tag(:li,song.intro, data: {value: song.intro} ) %>
        <% if song.tags.length > 0 %>
          <% song.tags.each do |tag| %>
            <li><%= tag.name %></li>
          <% end %>
        <% end %>

        <li><%= link_to '點擊', song.track_url %></li>
        <li><%= link_to '刪除', song_path(song.id), method: 'delete' %></li>

        <% if playlists_song?(song) %>
          <% song.playlists.each do |list| %>
            <li>歌單：<%= list.name %></li>
          <% end %>
        <% end %>
        <%= content_tag(:li, 'play ▶', class:'getURL', data: {id: song.id} ) %>
        <li><%= link_to 'Delete', song_path(song.id), method: 'delete' %></li>
        
        <!-- 愛心 -->
        <svg class="heart" width="25px" viewBox="0 0 500 500" >
          <path d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273
          c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636
          c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"/>
        </svg>
        
        <div class="dropdown">
          <button class="dropbtn">+</button>
          <div id="myDropdown" class="dropdown-content">
            <%= link_to "add to play next", '###' , id: 'addtoplay', data: {id: song.id}  %>
            <%#= link_to "add to playlist",list_add_path(song.id), data: {}  %>
          </div>
        </div>

        <div>
          <h3>Add to playlist</h3>
            <% @playlists.each do |playlist| %>
              <li>Playlist：<%= playlist.name %>
              <% if @song.added_by?(playlist) %>
                <%= link_to "Added", add_to_playlist_song_path(id: @song, playlist_id: playlist), method: "post" %> </li>
              <% else %>
                <%= link_to "Add to playlist", add_to_playlist_song_path(id: @song, playlist_id: playlist), method: "post" %> </li>
              <% end %>
            <% end %> 
        </div>
      </ul>
  <% end %>
<% end %>

<div id="player1" class="aplayer"></div>

<%#=圖區暫時保留起來%>
<%#=圖區%>
<div class="mx-4">
  <div class="flex bg-gradient-to-r from-red-500 via-white to-orange-700">
    <div class="w-2/3 flex-col-reverse space-y-64 m-5">
      <div class="flex">
        <i class="fas fa-arrow-alt-circle-right fa-4x"></i>
        <div class="">
          <div class="bg-black rounded p-1 text-white m-1">
            Made for Username
          </div>
          <div class="flex bg-gray-900 rounded">
            <div class="text-2xl text-white m-2">The Upload</div>
            <div class="text-orange-700 m-auto mr-2"><i class="fas fa-unlock"></i></div>
            <div class="text-orange-700 m-auto mr-2">Private</div>
          </div>
        </div>
      </div>

<%#=萱大大專區%>
      <div class="">
        <i class="fab fa-twitter fa-2x"></i>
      </div>
    </div>

    <div class="w-1/3 p-4">
      <img class="" src="https://i1.sndcdn.com/artworks-48wHUXnYlyIAyhPm-kAqlLQ-t500x500.jpg" alt="">
    </div>
  </div>
</div>

<div class="flex mx-4 text-sm">
  <div class="w-3/4 mx-4">
<%#=左邊分享、使用者功能專區%>
    <div class="flex border-b border-gray-400">
      <div class="flex w-1/2 my-2 p-2 justify-around ">
        <button class="border border-gray-300 px-3 rounded">
          <i class="fas fa-heart"></i>
          like
        </button>
        <button class="border border-gray-300 px-3 rounded">
          <i class="fas fa-share-square"></i>
          share
        </button>
        <button class="border border-gray-300 px-3 rounded">
          <i class="fas fa-balance-scale-left"></i>
          Add to Next Up
        </button>
        <button class="border border-gray-300 px-3 rounded">
          <i class="fas fa-bolt"></i>
          More
        </button>
      </div>
      <div class="flex w-1/2 justify-end">
        <div class="my-5 mx-4">
          Last Uploaded 2 day ago
        </div>
      </div>
    </div>
<%#=左邊歌曲列表專區%>
    <div class="text-sm">
      <div class="p-1 hover:bg-gray-100 border-b border-gray-200">
        <div class="flex justify-between items-center">
          <div class="flex py-1 items-center">
            <img class="rounded w-10 mx-2" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
            <div class="mx-2">1</div>
            <div class="mx-2">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
          </div>
          <div class="justify-end ">
            <i class="fas fa-angle-right"></i>
            463K
          </div>
        </div>
      </div>

      <div class="p-1 hover:bg-gray-100 border-b border-gray-200">
        <div class="flex justify-between items-center">
          <div class="flex py-1 items-center">
            <img class="rounded w-10 mx-2" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
            <div class="mx-2">1</div>
            <div class="mx-2">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
          </div>
          <div class="justify-end ">
            <i class="fas fa-angle-right"></i>
            463K
          </div>
        </div>
      </div>

      <div class="p-1 hover:bg-gray-100 border-b border-gray-200">
        <div class="flex justify-between items-center">
          <div class="flex py-1 items-center">
            <img class="rounded w-10 mx-2" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
            <div class="mx-2">1</div>
            <div class="mx-2">Tipsy Records — Toniia & Geena Fontanella - Psychic</div>
          </div>
          <div class="justify-end ">
            <i class="fas fa-angle-right"></i>
            463K
          </div>
        </div>
      </div>

    </div>
  </div> 



<%#=右邊使用者專區%>
  <div class="w-1/4 border-l border-gray-400">
    <div class="p-2">
      <div class="m-4">
        Based on Tipsy Records - Toniia & Geena Fontanella - Psychic
      </div>
      <div class="flex m-4">
        <img class="w-1/12 rounded-full" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
        <div class="px-2">
          made for Current_user
        </div>
      </div>
      <div class="m-4 border-b border-gray-400 py-2 text-gray-500">
        <i class="fas fa-user-friends"></i>
        Artists featured
      </div>
    </div>

    <div class="m-4 flex">
      <img class="w-1/5 rounded-full" src="https://i1.sndcdn.com/artworks-5AGGrdLB22OugKjV-yK2AgQ-t500x500.jpg" alt="">
      <div class="w-full">
        Tipsy Records
        <div class="flex justify-between items-center text-gray-400 text-xs">
          <div class="p-2">
            <button>
              <i class="fas fa-user-friends"></i>
              60.7K
            </button>
            <button>
              <i class="fab fa-soundcloud"></i>
              33          
            </button>


          </div>
          <button class="border border-gray-400 text-black p-1 rounded">
            <i class="fas fa-user-check"></i>
            Fllow+
          </button>
        </div>
      </div>
    </div>
<%#=底部灰色小型字體區  %>
    <div class="flex border-t border-gray-400 m-4">
      <div class="my-3 text-xs table-row-group">

        <div class="text-gray-500">
          <span class="hover:text-black"><a href="#">Legal</a></span>
-            
          <span class="hover:text-black"><a href="#">Privacy</a></span>
-            
          <span class="hover:text-black"><a href="#">Cookies</a></span>
-            
          <span class="hover:text-black"><a href="#">Imprint</a></span>
-
          <span class="hover:text-black"><a href="#">Creator Resources</a></span>
-            
          <span class="hover:text-black"><a href="#">Blog</a></span>
-            
          <span class="hover:text-black"><a href="#">Charts</a></span>
-            
          <span class="hover:text-black"><a href="#">Popular Search</a></span>
-        </div>
        
          <div class="mt-2 mb-20">
            <button class="text-blue-700 hover:text-black">Language: </button> 
            English (US)
          </div>

      </div>
    </div>
  </div>  
</div>


