<%= link_to 'new song',  new_user_song_path(current_user.id) %>
<%= link_to 'go back', root_path %>
<% @songs.each do |song|%>
  <% if song.image_url %>
      <ul>
        <li><%= image_tag song.image_url, width: '200px' %></li>
        <li><%= link_to song.name, song_path(song.id) %></li>
        <li><%= song.intro %></li>
        <li><%= link_to '點擊', song.track_url %></li>
        <li><%= link_to '刪除', song_path(song.id), method: 'delete' %></li>
        <% if playlists_song?(song) %>
          <% song.playlists.each do |list| %>
            <li>歌單：<%= list.name %></li>
          <% end %>
        <% else %>
          <li>未加入清單</li>
        <% end %>
        <%= link_to '加入清單', list_add_path(song.id) %>
      </ul>
  <% end %>
<% end %>

  	<div id="player1" class="aplayer"></div>
    