<%= form_for @song do |f| %>
<div>
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div>
  <%= f.label :intro %>
  <%= f.text_field :intro %>
</div>
<div>
  <%= f.label :track %>
  <%= f.file_field :track %>
</div>
  <%= f.submit %>
<% end %>

