<div class="pb-20">
  <%= link_to 'go back', user_songs_path %>
  <% if @song.errors.any? %>
    <ul>
      <% @song.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= form_with model: @song, url: user_songs_path(current_user.id), local: true do |f| %>
  <div>
    <%= f.label :image %>
    <input type="file" name=song[image] onchange="showMyImage(this)" >
    <img id="thumbnil" src="" >
  </div>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :intro %>
    <%= f.text_field :intro %>
  </div>
  <div>
    <%= f.label :tag_list %>
    <select name="song[tag_items][]" multiple= "multiple" class= "tag_list">
      <%= options_for_select(@tags) %>
    </select>
  </div>
  <div>
    <%= f.label :track %>
    <%= f.file_field :track %>
  </div>
    <%= f.submit %>
  <% end %>
  
</div>
