<h1><%=@song.name%></h1>
<button class="modal-btn addlist-btn">Add to List</button><br>


  <ul>
      <li>Name:<%= @song.name %></li>
      <li class="flex">
        <%= image_tag @song.image_url, width: '200px'  %>
        <%= content_tag(:div, '', id:['waveform'], class:['song-waveform w-3/6'], data:{ path: @song.track_url }) %>
      </li>
      <li>Intro:<%= @song.intro %></li>
      <%= content_tag(:li, 'play ▶', class:'getURL', data: {id: @song.id} ) %>
  </ul>



<div>
  <%= form_with(model:@comment, url:song_comments_path(@song)) do |f|%>
    <%= f.text_field :content, placeholder: "Write a comment"%>
    <%= f.submit%>
  <% end %>
</div>

<div>
  <% if @song.favorited_by?(current_user) %>
    <i class="fas fa-heart"> <%= link_to "Liked", like_song_path(@song), method: "post" %> </i>
  <% else %>
    <i class="far fa-heart"> <%= link_to "Like", like_song_path(@song), method: "post" %> </i>
  <% end%>  

  <% if @song.reposted_by?(current_user) %>
    <i class="fas fa-retweet"> <%= link_to "Reposted", repost_song_path(@song), method: "post" %>  </i>
  <% else %>
    <i class="fas fa-retweet"> <%= link_to "Repost", repost_song_path(@song), method: "post" %> </i>
  <% end%>  
  <i class="fas fa-share-square"><button class="modal-btn share-btn">Share</button></i>
</div>
<div>
  <i class="fas fa-heart"> <%=@song.liked_users.count %> </i>
  <i class="fas fa-retweet"> <%=@song.reposted_users.count %> </i>
</div>

<!-- 愛心 -->
<svg class="heart" width="25px" viewBox="0 0 500 500" >
  <path d="M295.706,35.522C295.706,35.522,295.706,35.522,295.706,35.522c-34.43-0.184-67.161,14.937-89.339,41.273
  c-22.039-26.516-54.861-41.68-89.339-41.273C52.395,35.522,0,87.917,0,152.55C0,263.31,193.306,371.456,201.143,375.636
  c3.162,2.113,7.286,2.113,10.449,0c7.837-4.18,201.143-110.759,201.143-223.086C412.735,87.917,360.339,35.522,295.706,35.522z"/>
</svg>

<div class="dropdown">
  <button class="dropbtn">+</button>
  <div id="myDropdown" class="dropdown-content">
    <%= link_to "add to play next", '###' , id: 'addtoplay', data: {id: @song.id}  %>
    <%#= link_to "add to playlist",add_to_playlist_song_path(@song), data: {}  %>
  </div>
</div>

<div>
  <h3>Add to playlist</h3>
    <% @playlists.each do |playlist| %>
      <li>Playlist：<%= link_to playlist.name, playlist_path(playlist) %>
      <% if @song.added_by?(playlist) %>
        <%= link_to "Added", add_to_playlist_song_path(id: @song, playlist_id: playlist), method: "post" %> </li>
      <% else %>
        <%= link_to "Add to playlist", add_to_playlist_song_path(id: @song, playlist_id: playlist), method: "post" %> </li>
      <% end %>
    <% end %> 
</div>

<div>--------------我是分隔線-------------------</div>
  <% @comments.each do |comment| %>
    <div>
      <span> <%=comment.content%> </span>
      <%= link_to "Delete", comment_path(song_id: @song.id, id: comment.id),method: "delete", data: {confirm: "Do you really want to remove this comment?"} if is_current_user?(comment.user)%> 
      <% comment.replies.each do |reply| %>
        <div>
          <span> --I'm reply's content-- </span>
          <span> <%=reply.content%> </span>
            <%= link_to "Delete", comment_path(song_id: @song.id, id: reply.id),method: "delete", data: {confirm: "Do you really want to remove this comment?"} if is_current_user?(reply.user)%> 
        </div>
      <%end%>
      <%= form_with(model: @comment, url:song_comments_path(@song)) do |f|%>
        <%= f.text_field :content, placeholder: "Reply to this comment"%>
        <%= f.hidden_field :reply_id, value: comment.id%>
        <%= f.submit "Reply"%>
      <% end %>
    </div>
  <% end %>

  <div id="player1" class="aplayer"></div>

<% #以下之後用Vue藏內容應該可以 %>
<template class="share-template">
  <div class="modal-container share-container">
  </div>
  <div class="modal-content">
    <div class="modal-item">
      <h1>Share</h1>
    </div>
    <div class="modal-item">
      share
      <%= content_tag(:button, 'Share to Twitter', class:'share-twitter', data:{name: @song.name, artist: @song.user.display_name, link: song_path}) %>
      <%= content_tag(:button, 'Share to Facebook', class:'share-facebook', data:{name: @song.name, artist: @song.user.display_name, link: song_path}) %>
    </div>
  </div>
</template>


<%#=專輯播放頁面%>
<%#=第一背景色區%>
<div class="mx-4">
  <div class="flex bg-gradient-to-r from-red-500 via-white to-orange-700">
    <div class="w-2/3 flex-col-reverse space-y-64 m-5">
      <div class="flex">
        <i class="fas fa-arrow-alt-circle-right fa-4x"></i>
        <div class="">
          <div class="bg-black rounded p-1 text-white m-1">
            Made for Username
          </div>
          <div class="flex bg-gray-900 rounded">
            <div class="text-2xl text-white m-2">The Upload</div>
            <div class="text-orange-700 m-auto mr-2"><i class="fas fa-unlock"></i></div>
            <div class="text-orange-700 m-auto mr-2">Private</div>
          </div>
        </div>
        <div class="m-4 text-xl text-white">
          <div class="">
            1 month ago
          </div>
          <div class="">
            #Dance & EDM
          </div>
        </div>
      </div>

<%#=萱大大專區%>
      <div class="">
        <i class="fab fa-twitter fa-2x"></i>
      </div>
    </div>
<%#=右邊大圖區%>
    <div class="w-1/3 p-4">
      <img class="" src="https://i1.sndcdn.com/artworks-48wHUXnYlyIAyhPm-kAqlLQ-t500x500.jpg" alt="">
    </div>
  </div>
</div>

<%#=左邊專區起始%>
<div class="flex m-4">
  <div class="w-3/4 m-4">
  <%#=左邊專區：最上面的Comment區域%>
    <div class="border-b border-gray-400">
      <div class="flex ">
        <img class="w-auto h-10 " src="https://i1.sndcdn.com/artworks-48wHUXnYlyIAyhPm-kAqlLQ-t500x500.jpg" alt="">
        <input class="w-11/12 mx-4 border border-gray-400 rounded" type="text" placeholder="Write a comment">
      </div>
      <div class="flex my-2 p-2 justify-around text-sm">
        <button class="border border-gray-400 p-1 rounded">
          <i class="fas fa-heart"></i>
          like
        </button>
        <button class="border border-gray-400 p-1 rounded">
          <i class="fab fa-gg-circle"></i>
          Repost
        </button>
        <button class="border border-gray-400 p-1 rounded">
          <i class="fas fa-share-square"></i>
          share
        </button>
        <button class="border border-gray-400 p-1 rounded">
          <i class="fas fa-balance-scale-left"></i>
          Add to Next Up
        </button>
          <button class="border border-gray-400 p-1 rounded">
          <i class="fas fa-bolt"></i>
          More
        </button>
        <button class="p-1">
          Stream everywhere
        </button>
        <button class="p-1 text-gray-400">
          <i class="fas fa-chevron-circle-right"></i>
          10.2K
        </button>
        <button class="p-1 text-gray-400">
          <i class="fas fa-heart"></i>
          1,336
        </button>
        <button class="p-1 text-gray-400">
          <i class="fab fa-gg-circle"></i>
          Repost
        </button>

      </div>
    </div>
    <div class="flex text-sm">
  <%#=左邊專區大頭照那%>
      <div class="w-1/5 mr-4">
        <img class="rounded-full mt-6 mr-6 w-3/4" src="https://i1.sndcdn.com/avatars-000607373832-b25xhj-t200x200.jpg" alt="">
        <div class="flex justify-start p-1">
          <div>Dani Corbalan</div>
          <i class="far fa-star"></i>
        </div>
        <div class="flex justify-start p-1">
          <i class="fas fa-user-friends"></i>
          <p class="text-gray-400 mx-2">3,003</p>
          <i class="fab fa-soundcloud"></i>
          <p class="text-gray-400 mx-2">464</p>
        </div>
        <button class="flex bg-orange-500 text-white p-1 rounded">
          <i class="fas fa-user-check"></i>
          <p class="mx-2">Follow</p>
        </button>
      </div>
  <%#=正中間留言總數%>
      <div class="w-4/5 ">
                    <div class="flex text-gray-400 m-4 p-2 border-b border-gray-400">
                      <i class="fas fa-comments"></i>
                      <p class="mx-1">2253</p> 
                      <p class="mx-1">comments</p>
                    </div>
  <%#=顯示正中間留言區那%>
        <div class="">
          <div class="flex">
            <img class="w-1/12 rounded-full" src="https://i1.sndcdn.com/avatars-Y57TiYzkrpCtP0pD-w8fdEA-t120x120.jpg" alt="">
            <div class="w-9/12 mx-2">
              <div class="flex">
                <button>user names</button>
                <p>at</p>
                <p>time</p>
              </div>
              <p class="">Ls assumeicas, commodi nostrum enim minima? A quas ut consequatur suscipit, cum quae dolore.</p>
            </div>
            <div class="w-2/12 text-gray-400">
              21 hours ago
            </div>
          </div>
<%#=顯示正中間針對留言的留言那%>
          <div class="flex mt-4 ml-6">
            <img class="w-1/12 rounded-full" src="https://i1.sndcdn.com/avatars-Y57TiYzkrpCtP0pD-w8fdEA-t120x120.jpg" alt="">
            <div class="w-9/12 mx-2">
              <div class="flex">
                <button>user names</button>
                <p>at</p>
                <p>time</p>
              </div>
              <p class="">Ls assumeicas, commodi nostrum enim minima? A quas ut consequatur suscipit, cum quae dolore.</p>
            </div>
            <div class="w-2/12 text-gray-400">
              21 hours ago
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


<%#=右邊專區%>
  <div class="w-1/4 m-4">
    <div class="flex justify-between text-gray-500 border-b border-gray-300 text-sm p-2">
      <div class=""><i class="fas fa-heart"></i> Related Tracks</div>
      <button class="">view all</button>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
      </div>
    </div>

    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
      </div>
    </div>
    <div class="my-4 flex">
      <img class="w-1/5" src="https://i1.sndcdn.com/artworks-tzoA3a4voEv4g77c-Z5qUqQ-t120x120.jpg" alt="">
      <div class="w-4/5 mx-2 text-xs">
        <div class="text-gray-500">Cherokee Recordings</div>
        <div class="">Dean Robert - Morning</div>
        <div class="flex justify-around">
          <a href="">➡️261K</a>
          <a href="">❤️3315</a>
          <a href="">⭕️60</a>
          <a href="">☁️101</a>
        </div>
      </div>
    </div>

    <div class="flex border-t border-gray-400">
      <div class="my-3 text-xs table-row-group">

        <div class="">
          <span class="text-gray-500  hover:text-black"><a href="#">Legal</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Privacy</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Cookies</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Imprint</a></span>

          <span class="text-gray-500  hover:text-black"><a href="#">Creator Resources</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Blog</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Charts</a></span>
            
          <span class="text-gray-500  hover:text-black"><a href="#">Popular Search</a></span>
        </div>
        
          <div class="mt-2 mb-20">
            Language: English (US)
          </div>

      </div>
    </div>
  </div>

  
</div>