<h1><%=@song.name%></h1>

  <ul>
      <li>Name:<%= @song.name %></li>
      <li><%= image_tag @song.image_url, width: '200px'  %> </li>
      <li>Intro:<%= @song.intro %></li>
      <li>Link:<%= link_to '點擊', @song.track_url %></li>
  </ul>

<div>
  <%= form_with(model:@comment, url:song_comments_path(@song)) do |f|%>
    <%= f.text_field :content, placeholder: "Write a comment"%>
    <%= f.submit%>
  <% end %>
</div>

<div>
  <!-- <button data-action="click->heart#favorite"> -->
  <% if @song.favorited_by?(current_user) %>
    <i class="fas fa-heart" data-target="heart.output"></i>
    <%= link_to "Liked", like_song_path(@song), method: "post" %>
  <% else %>
    <i class="far fa-heart" data-target="heart.output"></i>
    <%= link_to "Like", like_song_path(@song), method: "post" %>
  <% end%>  
  </button>
</div>
<div>
  <h3>Add to playlist</h3>
    <% @playlists.each do |playlist| %>
      <li>Playlist：<%= playlist.name %>
      <% if @song.added_by?(playlist) %>
        <%= link_to "Added", add_to_playlist_song_path(id: @song, playlist_id: playlist), method: "post" %> </li>
      <% else %>
        <%= link_to "Add to playlist", add_to_playlist_song_path(id: @song, playlist_id: playlist), method: "post" %> </li>
      <% end %>
    <% end %> 
</div>

<div>--------------我是分隔線-------------------</div>
  <% @comments.each do |comment| %>
    <div>
      <span> <%=comment.content%> </span>
      <%= link_to "Delete", comment_path(song_id: @song.id, id: comment.id),method: "delete", data: {confirm: "Do you really want to remove this comment?"} if is_current_user?(comment.user)%> 
      <% comment.replies.each do |reply| %>
        <div>
          <span> --I'm reply's content-- </span>
          <span> <%=reply.content%> </span>
            <%= link_to "Delete", comment_path(song_id: @song.id, id: reply.id),method: "delete", data: {confirm: "Do you really want to remove this comment?"} if is_current_user?(reply.user)%> 
        </div>
      <%end%>
      <%= form_with(model: @comment, url:song_comments_path(@song)) do |f|%>
        <%= f.text_field :content, placeholder: "Reply to this comment"%>
        <%= f.hidden_field :reply_id, value: comment.id%>
        <%= f.submit "Reply"%>
      <% end %>
    </div>
  <% end %>

  <div id="player1" class="aplayer"></div>

