<h1>Library</h1>

<%= link_to "Overview", library_library_index_path%>
<%= link_to "Likes", likes_library_index_path%>
<%= link_to "Platlists", sets_library_index_path%>
<%= link_to "Albums", albums_library_index_path%>
<%= link_to "Stations", stations_library_index_path%>
<%= link_to "Following", following_library_index_path%>
<%= link_to "History", history_library_index_path%>
