<h1>Likes</h1>

<%= link_to "Overview", library_library_index_path%>
<%= link_to "Likes", likes_library_index_path%>
<%= link_to "Platlists", sets_library_index_path%>
<%= link_to "Albums", albums_library_index_path%>
<%= link_to "Stations", stations_library_index_path%>
<%= link_to "Following", following_library_index_path%>
<%= link_to "History", history_library_index_path%>

<% if @like_songs.any? %>
  <% @like_songs.each do |like_song| %>
  <ul>
    <li><%=like_song.name%></li>
  </ul>
  <% end %>

<% else %>
  <p>has not like any song yet</p>
<% end %>
<h1>Library</h1>

  
<div class="flex text-2xl m-4 border-b border-gray-400 p-2">
  <button class="mr-4 hover:text-orange-500"><%= link_to "Overview", library_library_index_path%></button>
  <button class="mr-4 text-orange-600 hover:text-orange-500">Likes</button>
  <button class="mr-4 hover:text-orange-500">Platlists</button>
  <button class="mr-4 hover:text-orange-500">Albums</button>
  <button class="mr-4 hover:text-orange-500">Stations</button>
  <button class="mr-4 hover:text-orange-500">Following</button>
  <button class="mr-4 hover:text-orange-500">History</button>
</div>

<div class="col-span-9 bg-white">
<%#=左邊區域-3%>
    <div class="mx-4 p-5">
      <div class="flex justify-between">
        <div class="text-xl text-gray-500">Hear the tracks you’ve liked:</div>
        <div class="text-xl text-gray-400 flex w-1/3">
          <span class="mx-2">View</span>
          <button class="mx-2"><i class="fas fa-th-large"></i></button> 
          <button class="mx-2"><i class="fas fa-th-list"></i></button> 
          <input class="mx-2 border border-gray-200 rounded text-sm w-full" type="text" placeholder="Fillter">
        </div>
      </div>
      
      
      <div class="flex my-4 overflow-scroll">
        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

        <div class="my-2 mr-2">
          <img class="h-48 max-w-3xl" src="https://i1.sndcdn.com/artworks-LPiPCego5LCeQz9V-0Vg0sg-t500x500.jpg" alt="">
          <div class="">All music genres</div>
          <div class="text-xs text-gray-500">New & Hot</div>
        </div>

      </div>
    </div>
<%#=左邊區域結束%>
  <div class="flex border-t border-gray-500 mx-4">
    <div class="my-3 text-xs table-row-group">

      <div class="text-gray-500">
        <span class="hover:text-black"><a href="#">Legal</a></span>
          -
        <span class="hover:text-black"><a href="#">Privacy</a></span>
          -
        <span class="hover:text-black"><a href="#">Cookies</a></span>
          -
        <span class="hover:text-black"><a href="#">Imprint</a></span>
          -
        <span class="hover:text-black"><a href="#">Creator Resources</a></span>
          -
        <span class="hover:text-black"><a href="#">Blog</a></span>
          -
        <span class="hover:text-black"><a href="#">Charts</a></span>
          -
        <span class="hover:text-black"><a href="#">Popular Search</a></span>
      </div>
      
        <div class="mt-2 mb-20">
          Language: English (US)
        </div>

    </div>
  </div>
</div>