<%#=Library頁面底下的那一排Overview, Likes, Platlists...頁面%>
<%#=這是Likes頁面%>

<div class="flex text-2xl m-4 border-b border-gray-400 p-2">
  <button class="mr-4 hover:text-orange-500"><%= link_to "Overview", library_library_index_path%></button>
  <button class="mr-4 text-orange-600 hover:text-orange-500"><%= link_to "Likes", likes_library_index_path%></button>
  <button class="mr-4 hover:text-orange-500"><%= link_to "Playlists", sets_library_index_path%></button>
  <button class="mr-4 hover:text-orange-500"><%= link_to "Following", following_library_index_path%></button>
  <button class="mr-4 hover:text-orange-500"><%= link_to "History", history_library_index_path%></button>
</div>
<div class="col-span-9 bg-white">
  <div class="mx-4 p-5">
    <%#= 版面控制區域 %>
    <div class="flex justify-between text-lg text-gray-500">
      <div class="">Hear the tracks you’ve liked:</div>
      <div class="flex w-1/3">
        <span class="mx-2">View</span>
        <button class="mx-2"><i class="fas fa-th-large"></i></button> 
        <button class="mx-2"><i class="fas fa-th-list"></i></button> 
        <input class="mx-2 border rounded w-full" type="text" placeholder="Fillter">
      </div>
    </div>
    <div class="grid grid-cols-12 gap-4">
      <% @like_songs.each do |song|%>
        <% if song.image_url %>
          <div class="col-span-2 my-2 mr-2 flex flex-col justify-between">
            <%#= 歌曲圖片 %>
            <div class="align-top w-32">
              <%= link_to image_tag(song.image_url), song_path(song.id), class:'block' %>
            </div>
            <%#= 歌曲名稱、介紹、TAG標籤 %>
            <div class="">
              <%#= 歌曲名稱 %>
              <%= content_tag(:li,content_tag(:a, song.name, href: song_path(song)), data: {value: song.name} ) %>
              <%= content_tag(:li,song.intro, data: {value: song.intro} ) %>
              <%#= 歌曲TAG區 %>                           
              <% if song.tags.length > 0 %>
                <% song.tags.each do |tag| %>
                  <%= tag.name %>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>  
    </div>
  </div>
<%#=左邊區域結束%>
  <div class="flex border-t border-gray-500 mx-4">
    <div class="my-3 text-xs table-row-group">

      <div class="text-gray-500">
        <span class="hover:text-black"><a href="#">Legal</a></span>
          -
        <span class="hover:text-black"><a href="#">Privacy</a></span>
          -
        <span class="hover:text-black"><a href="#">Cookies</a></span>
          -
        <span class="hover:text-black"><a href="#">Imprint</a></span>
          -
        <span class="hover:text-black"><a href="#">Creator Resources</a></span>
          -
        <span class="hover:text-black"><a href="#">Blog</a></span>
          -
        <span class="hover:text-black"><a href="#">Charts</a></span>
          -
        <span class="hover:text-black"><a href="#">Popular Search</a></span>
      </div>
      
        <div class="mt-2 mb-20">
          Language: English (US)
        </div>

    </div>
  </div>
</div>