<div class="bg-white w-full bg-opacity-75">
  <div class="container m-auto bg-white max-w-sm flex flex-col justify-center mt-12 rounded">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3' %>
      </div>

      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: 'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "w-full px-2 py-2 text-white rounded bg-orange-700" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
    
  </div>
</div>
