<%= form_with(model: room, local: true) do |form| %>
  <% if room.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(room.errors.count, "error") %> prohibited this room from being saved:</h2>

      <ul>
        <% room.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="">
  <div class="field">
    <%= form.text_field :name , class:"px-2 rounded-lg text-black mb-2", placeholder:''%>
  </div>

  <div class="actions text-black my-2">
    <%= form.submit "Create Room", class:"bg-black text-white rounded-lg border border-white px-2"  %>
  </div>
</div>
<% end %>
