
<div class="h-screen bg-cover bg-center rounded text-center bg-fixed overflow-scroll" style="background-image: url(<% root_path %>/img/leego_2.jpg)">
  <div class="text-2xl text-white p-8">Who's On Air</div>
  <button class="text-2xl text-white bg-black bg-opacity-25 rounded border border-gray-400 px-2">
    <% if current_user && !current_user.room.present? %>
      <%= link_to 'New Room', new_room_path, params: current_user %>
    <% end %>
  </button>

  <div class="grid grid-cols-12 text-xl text-white text-left">
    <% @rooms.each do |room| %>

    <div class="col-span-12 md:col-span-6 xl:col-span-4 m-16 pb-2 rounded-lg bg-gray-900">
      <div class="h-56 bg-cover bg-center bg-opacity-25 rounded-lg relative" style="background-image: url(<% root_path %>/img/back_1.jpg)">
        <div class="flex justify-between items-center bg-leego_orange rounded-md px-2 absolute top-leego_top left-fi transform -translate-x-1/2">
          <p class="px-2"> On Air</p>
          <i class="fas fa-bolt"></i>
        </div>
      </div>
      <div class="text-leego_orange pl-6 text-sm"><%= room.user.display_name%></div>
      <div class="text-2xl pl-6 -mt-1"><%= room.name %></div>


      <div class="flex justify-around my-4">
        <% if room.user == current_user %>
          <%= link_to play_room_path(room), class:'rounded px-2 flex items-center' do %>
          <i class="fas fa-sign-in-alt"></i>
        <% end %>

          <%= link_to edit_room_path(room), class:'rounded px-2 flex items-center' do %>
          <i class="fas fa-pencil-alt"></i>
          <% end %>

          <%= link_to room, method: :delete, data: { confirm: 'Are you sure?' }, class:'rounded px-2 flex items-center' do %>
          <i class="fas fa-trash-alt"></i>
          <% end %>



          <% else %>

          <button class="rounded border border-leego_orange px-4 py-2 my-1 ml-6">
            <%= link_to 'ENTER', room%>
          </button>

        <% end %>

      </div>
    </div>
    <% end %>
