<p id="notice"><%= notice %></p>

<h1>Rooms</h1>

<table>
  <thead>
    <tr>
      <th>Host</th>
      <th>All Channels</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rooms.each do |room| %>
      <tr>
        <td><%= room.user.display_name%></td>
        <td><%= room.name %></td>
        <% if room.user == current_user %>
          <td><%= link_to 'channel', play_room_path(room) %></td>
          <td><%= link_to 'Edit', edit_room_path(room) %></td>
          <td><%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% else %>
          <td><%= link_to 'Show', room %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if !current_user.room %>
  <%= link_to 'New Room', new_room_path, params: current_user %>
<% end %>