<h1>subscriber</h1>
<p>
  <strong>Name:</strong>
  <%= @room.name %>
</p>
<p>
  <strong>Session:</strong>
  <%= @room.session_id %>
</p>

<div id="videos">
  <div id="subscriber"></div>
</div>
<%= link_to 'Back', rooms_path %>


<script>
  let apiKey ="<%= Rails.application.credentials.vonage_api_key %>"
  let sessionId ="<%= @room.session_id %>"
  let token="<%= @token %>"

// Handling all of our errors here by alerting them
  function handleError(error) {
    if (error) {
      alert(error.message);
    }
  }

  // (optional) add server code here
  initializeSession();

  function initializeSession() {
    var session = OT.initSession(apiKey, sessionId);

    // Subscribe to a newly created stream
    session.on('streamCreated', function(event) {
      session.subscribe(event.stream, 'subscriber', {
        insertMode: 'append',
        width: '100%',
        height: '100%'
      }, handleError);
    });

    // Connect to the session
    session.connect(token, function(error) {
      // If the connection is successful, initialize a publisher and publish to the session
      if (error) {
        handleError(error);
      }
    });
  }

</script>