<h1>Library</h1>

<%= link_to "Overview", library_you_index_path%>
<%= link_to "Likes", likes_you_index_path%>
<%= link_to "Platlists", sets_you_index_path%>
<%= link_to "Albums", albums_you_index_path%>
<%= link_to "Stations", stations_you_index_path%>
<%= link_to "Following", following_you_index_path%>
<%= link_to "History", history_you_index_path%>
