<h1>Library</h1>

<%= link_to "Overview", "#"%>
<%= link_to "Likes", "#"%>
<%= link_to "Platlists", "#"%>
<%= link_to "Albums", "#"%>
<%= link_to "Stations", "#"%>
<%= link_to "Following", "#"%>
<%= link_to "History", "#"%>