<h1>這是Discover</h1>

<%= link_to "Home", discover_index_path%>
<%= link_to "Stream", "#"%>
<%= link_to "Library", library_you_index_path%>
<%= link_to "Try pro", "#"%>
<%= link_to "Upload", new_user_song_path(current_user)%>
<%= link_to "Profile", user_path(current_user)%>

<h2> Song List </h2>
<% @songs.each do |song| %>
<ul> 
  <li> <%= link_to song.name, song_path(song) %> </li>
</ul>
<% end %>
