<h1>play list</h1>
<%= link_to 'new play list', new_user_playlist_path(current_user.id) %>
<%= link_to 'go back', root_path %>

<% if @playlists %>
  <ul>
    <% @playlists.each do |list| %>
    <%= link_to list.name, playlist_path(list.id) %>
    <li><%= list.intro %></li>
    <%= content_tag(:li, list.id , data: {id: list.id} ) %>

    <% end %>
  </ul>
<% else %>
  <li>you have no list</li>
<% end %>
