
<div class="bg-white w-full bg-opacity-75">
  <div class="container m-auto bg-white max-w-lg flex flex-col justify-center mt-12 rounded">

  <%= form_for(@playlist, url: user_playlists_path(current_user.id))  do |f| %>
    <div>
      <%= f.label :name %>
      <%= f.text_field :name, class:'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3'%>
    </div>
    <div>
      <%= f.label :intro %>
      <%= f.text_field :intro, class:'w-full px-2 py-2 focus:outline-none bg-gray-200 border border-black rounded my-3' %>
    </div>
    <%= f.submit '創造新歌單囉', class: "w-full px-2 py-2 text-white rounded bg-orange-700" %>
  <% end %>

  </div>
</div>
