<%= form_with(model: @playlist, url: user_playlists_path(current_user.id))  do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :intro %>
    <%= f.text_field :intro %>
  </div>
  <%= f.submit %>
<% end %>