<h1><%= @playlist.name%></h1>

<h2>playlist - song list</h2>
<% if @playlist.favorited_by?(current_user) %>
    <i class="fas fa-heart"></i>
    <%= link_to "Liked", like_playlist_path(@playlist), method: "post" %>
  <% else %>
    <i class="far fa-heart"></i>
    <%= link_to "Like", like_playlist_path(@playlist), method: "post" %>
  <% end%>  
  <i class="fas fa-heart"> <%=@playlist.liked_users.count %> </i>
<% @playlist.songs.each do |song| %>
  <ul>
    <li>
      <%= link_to song.name, song_path(song)%> ,
      Play:<%= link_to '點擊', song.track_url %>
    </li>
  </ul>
<% end %>