<!DOCTYPE html>
<html>
  <head>

    <%= display_meta_tags site: 'SoundsGood' %>
    <%= csrf_meta_tags %>
    <%=csp_meta_tag %>
    <%= javascript_pack_tag 'application','data-turbolinks-track': 'false' %>
    <script src="//static.opentok.com/v2/js/opentok.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body class="bg-gray-900 text-white">
    <%= render "shared/navbar"%>
    <%= yield %>
    <%= render "shared/aplayer" %>
    <%= javascript_pack_tag 'player', 'data-turbolinks-track': 'false' %>
  </body>
</html>
