<!DOCTYPE html>
<html>
  <head>
    <title>SoundClown</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


=======
>>>>>>> ae5676d...  node_module_test
  </head>

  <body>
    <%= render "shared/navbar" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'player', 'data-turbolinks-track': 'reload' %>
</html>
